Source: librtfcomp
Section: libs
Priority: optional
Maintainer: Gustavo Reyes <ghreyes71@gmail.com>
Build-Depends: debhelper-compat (= 12), python3-all-dev (>= 3.11), dh-python (>= 5.20), python3 (>= 3.11), cython3
Standards-Version: 4.6.0
Homepage: http://www.synce.org/

Package: librtfcomp-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, librtfcomp0 (= ${binary:Version})
Description: Library to read compressed RTF files (development files)
 Can decompress and recompress compressed RTF and convert from
 UTF8 to RTF for use in things like the AirSync protocols.
 .
 This package contains the development files for the library.

Package: librtfcomp-dbg
Section: debug
Priority: optional
Architecture: any
Depends: ${misc:Depends}, librtfcomp0 (= ${binary:Version})
Description: Library to read compressed RTF files (debugging symbols)
 Can decompress and recompress compressed RTF and convert from
 UTF8 to RTF for use in things like the AirSync protocols.
 .
 This package contains the debugging symbols for the library.

Package: librtfcomp0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Library to read compressed RTF files
 Can decompress and recompress compressed RTF and convert from
 UTF8 to RTF for use in things like the AirSync protocols.
 .
 This package contains the shared object library files.

Package: python3-rtfcomp
Section: python
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: Library to read compressed RTF files (Python bindings)
 Can decompress and recompress compressed RTF and convert from
 UTF8 to RTF for use in things like the AirSync protocols.
 .
 This package contains the Python bindings for the library.
