#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@ --with python3

override_dh_auto_configure:
	dh_auto_configure -- --prefix=/usr

override_dh_makeshlibs:
	dh_makeshlibs -V 'librtfcomp0 (>= 1.3-0~bookworm1)'

override_dh_strip:
	dh_strip --dbg-package=librtfcomp-dbg

override_dh_install:
	dh_install
	rm -f $(CURDIR)/debian/python3-rtfcomp/usr/lib/python*/*-packages/*.la \
	      $(CURDIR)/debian/python3-rtfcomp/usr/lib/python*/*-packages/*.a
